<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTest-Suite">
    <listeners>
        <listener class-name="com.automation.listeners.Listeners"/>
    </listeners>
    <test name="All-Test">
        <classes>
            <class name="com.automation.tests.Session.CreateUserSession"/>
            <class name="com.automation.tests.Session.DestroyUserSession"/>
            <class name="com.automation.tests.Quotes.FavQuoteAPITest"/>
        </classes>
    </test>
    
    <test name="SANITY">
        <groups>
            <run>
                <include name="SANITY"/>
            </run>
        </groups>
        <classes>
            <class name="com.automation.tests.Session.CreateUserSession"/>
            <class name="com.automation.tests.Session.DestroyUserSession"/>
            <class name="com.automation.tests.Quotes.FavQuoteAPITest"/>
        </classes>
    </test>

</suite> <!-- Suite -->